!pip install bs4

In [1]:
import requests
from bs4 import BeautifulSoup as bts
import pandas as pd

In [ ]:
ticker = '066570'

In [ ]:
url = f'https://finance.naver.com/item/main.naver?code={ticker}'

In [ ]:
res = requests.get(url)

In [ ]:
res.status_code

In [ ]:
res.headers['content-type']

In [ ]:
res.text

In [ ]:
soup = bts(markup = res.text, features = 'html.parser')

In [ ]:
type(soup)

In [ ]:
items = soup.select('div.today > p > em > span')

In [ ]:
int(items[0].text.replace(',', ''))

In [ ]:
items = soup.select('h2 > a')

In [ ]:
items[0].text

In [ ]:
def stockPrice(ticker):
    url = f'https://finance.naver.com/item/main.naver?code={ticker}'
    res = requests.get(url)
    soup = bts(markup = res.text, features = 'html.parser')
    try:
        items = soup.select('div.today > p > em > span')
        return int(items[0].text.replace(',', ''))
    except:
        print('티커를 확인하시오!')

In [ ]:
stockPrice(ticker = '066570')

In [ ]:
stockPrice(ticker = '066557')

In [ ]:
stockPrice(ticker = '005930')

In [ ]:
stockPrice(ticker = '000660')

!pip install lxml

In [2]:
url = 'https://finance.naver.com/sise/sise_market_sum.naver'

In [5]:
tbls = pd.read_html(io = url, encoding = 'EUC-KR')

In [8]:
price = tbls[1]

In [9]:
price.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,56200.0,100.0,-0.18%,100.0,3355018.0,5969783.0,49.44,15907472.0,8.52,13.92,NaN
2,2.0,LG에너지솔루션,482500.0,4500.0,+0.94%,500.0,1129050.0,234000.0,4.40,256331.0,801.50,10.68,NaN
3,3.0,SK하이닉스,91200.0,1300.0,+1.45%,5000.0,663938.0,728002.0,50.24,2405984.0,5.78,16.84,NaN
4,4.0,삼성바이오로직스,811000.0,1000.0,-0.12%,2500.0,577221.0,71174.0,10.51,36035.0,107.86,8.21,NaN

In [10]:
price = price.drop(columns = ['N', '토론실'])

In [12]:
price.head(n = 10)

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,삼성전자,56200.0,100.0,-0.18%,100.0,3355018.0,5969783.0,49.44,15907472.0,8.52,13.92
2,LG에너지솔루션,482500.0,4500.0,+0.94%,500.0,1129050.0,234000.0,4.40,256331.0,801.50,10.68
3,SK하이닉스,91200.0,1300.0,+1.45%,5000.0,663938.0,728002.0,50.24,2405984.0,5.78,16.84
4,삼성바이오로직스,811000.0,1000.0,-0.12%,2500.0,577221.0,71174.0,10.51,36035.0,107.86,8.21
5,삼성전자우,51100.0,500.0,+0.99%,100.0,420495.0,822887.0,71.48,1116192.0,7.75,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,LG화학,589000.0,6000.0,+1.03%,5000.0,415789.0,70592.0,48.31,220850.0,20.77,18.47

In [14]:
price = price[price['종목명'].notna()]

In [15]:
price.shape[0]

50