## 공공데이터 실습: 국가별 수산물 수출입 현황 (2021년)

### 실습 데이터셋 설명

- 2021년 1~12월에 전세계 165여 개 국가와 수산물 수출입 내역입니다.<br><br>

- 변수(열)에 대한 간단한 설명입니다.
  - ymonth: 거래년월
  - nation: 거래국가
  - itemNm: 거래품목(수산물)
  - imxprt: 수출/수입 구분
  - weight: 거래중량(kg)
  - dollar: 거래금액(달러)<br><br>

- 실습 데이터셋을 미리보기 합니다.
<img src="https://raw.githubusercontent.com/HelloDataScience/Images/main/Seafood%20Preview%202021.png" align="left" width="400">

### 실습 데이터셋 인코딩 확인

# 관련 라이브러리를 설치합니다.
!pip install requests

In [ ]:
# 관련 라이브러리를 호출합니다.
import os
import chardet
import requests
import numpy as np
import pandas as pd

In [ ]:
# 온라인으로 공유 중인 csv 파일 주소를 URL에 할당합니다.
URL =

In [ ]:
# URL에 있는 텍스트를 내려받습니다.(HTTP Requests)
# [힌트] requests.get() 함수를 사용하세요.
res =

In [ ]:
# res에서 바이너리 텍스트의 일부를 출력합니다.
# [힌트] content 속성을 사용하세요.
res.

In [ ]:
# 바이너리 텍스트의 인코딩 방식을 확인합니다.
# [힌트] chardet.detect() 함수를 사용하세요.
chardet.detect()

### 실습 데이터셋 전처리

In [ ]:
# csv 파일을 읽고 데이터프레임 df를 생성합니다.
# [힌트] pd.read_csv() 함수를 사용하세요.
df =

In [ ]:
# df의 정보를 확인합니다.
# [힌트] info() 함수를 사용하세요.
df.

In [ ]:
# df의 처음 5행을 출력합니다.
# [힌트] head() 함수를 사용하세요.
df.

In [ ]:
# df의 마지막 5행을 출력합니다.
# [힌트] tail() 함수를 사용하세요.
df.

In [ ]:
# ymonth의 자료형을 문자열로 변환하고 ymonth에 재할당합니다. 
# [힌트] astype() 함수를 사용하세요.
df['ymonth'] =

In [ ]:
# dollar를 1000으로 나눈 결과를 dollar에 재할당합니다.
df['dollar'] =

In [ ]:
# dollar의 기술통계량을 확인합니다.
# [힌트] describe() 함수를 사용하세요.
df['dollar'].

In [ ]:
# nation의 빈도수를 확인합니다.
# [힌트] value_counts() 함수를 사용하세요.
df['nation'].

### 국가별 수출입금액을 합산하고 무역수지 흑자 상위 국가 확인

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 trade에 할당합니다.
# [힌트] pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 df, 값(values)은 dollar, 
# 행이름(index)은 nation, 열이름(columns)은 imxprt, 
# 집계함수는 np.sum을 지정하세요.
trade = pd.pivot_table()

In [ ]:
# trade의 처음 10행을 출력합니다.
trade.

In [ ]:
# trade에 있는 결측값을 0으로 대체하고 trade에 재할당합니다.
# [힌트] fillna() 함수를 사용하세요.
trade =

In [ ]:
# trade의 수출에서 수입을 뺀 무역수지를 생성합니다.
trade['무역수지'] =

In [ ]:
# trade의 처음 10행을 출력합니다.
trade.

In [ ]:
# trade를 무역수지로 내림차순 정렬하고 trade에 재할당합니다.
# [힌트] sort_values() 함수를 사용하세요.
trade =

In [ ]:
# trade의 처음 5행을 출력합니다.(무역수지 흑자국가)
trade.

In [ ]:
# trade의 마지막 5행을 출력합니다.(무역수지 적자국가)
trade.

### 무역수지 흑자 1위 국가의 수출입 수산물 목록 확인

In [ ]:
# df에서 nation이 '일본'인 행을 데이터프레임 japan에 할당합니다.
# [힌트] eq() 함수를 사용하세요.
japan =

In [ ]:
# japan의 정보를 확인합니다.
japan.

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 japan에 재할당합니다.
# [힌트] pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 japan, 값(values)은 dollar, 
# 행이름(index)은 itemNm, 열이름(columns)은 imxprt, 
# 집계함수는 np.sum을 지정하세요.
japan = pd.pivot_table()

In [ ]:
# japan의 처음 10행을 출력합니다.
japan.

In [ ]:
# japan에 있는 결측값을 0으로 대체하고 japan에 재할당합니다.
japan =

In [ ]:
# japan의 수출에서 수입을 뺀 무역수지를 생성합니다.
japan['무역수지'] =

In [ ]:
# japan의 처음 10행을 출력합니다.
japan.

In [ ]:
# japan을 무역수지로 내림차순 정렬하고 japan에 재할당합니다.
japan =

In [ ]:
# japan의 처음 5행을 출력합니다.
japan.

In [ ]:
# japan의 마지막 5행을 출력합니다.
japan.

### [보너스]

In [ ]:
# 국가명을 지정하면 수출입 수산물 목록을 반환하는 함수를 생성합니다.
# [참고] 함수에서 정의하지 않은 인수는 글로벌 변수를 사용합니다.(ex: df)
# [주의] 글로벌 변수 목록에 없으면 에러를 반환합니다.
def seafoodItemList(nation):
    items = df[df['nation'].eq(nation)]
    items = pd.pivot_table(
        data = items, 
        values = 'dollar', 
        index = 'itemNm', 
        columns = 'imxprt', 
        aggfunc = np.sum
    )
    items = items.fillna(value = 0)
    items['무역수지'] = items['수출'] - items['수입']
    items = items.sort_values(by = ['무역수지'], ascending = False)
    return items

In [ ]:
# 함수를 테스트합니다.
seafoodItemList(nation = '러시아')

### 막대그래프 그리기

In [ ]:
# 관련 라이브러리를 호출합니다.
# GraphicSetting.py 모듈을 호출해보세요.
from GraphicSetting import *

In [ ]:
# '일본'과의 수산물 무역수지 데이터를 japan에 할당합니다.
japan = seafoodItemList(nation = '일본')

In [ ]:
# japan을 출력합니다.
japan

In [ ]:
# japan의 행이름을 초기화하고 top10에 재할당합니다.
# [힌트] reset_index() 함수를 사용하세요.
# [주의] 기존 행이름을 열로 추가해야 하므로 drop = True를 생략합니다.
japan =

In [ ]:
# japan을 출력합니다.
japan

In [ ]:
# itemNm의 이름을 '수산물'로 변경합니다.
japan =

In [ ]:
# japan을 출력합니다.
japan

In [ ]:
# japan의 열이름을 출력합니다.
japan.

In [ ]:
# japan의 열이름 네임에 빈 문자열을 지정합니다.
japan.

In [ ]:
# japan을 출력합니다.
japan

In [ ]:
# japan의 처음 10행을 top10에 할당하고 막대그래프를 그립니다.
top10 = 

# [힌트] sns.barplot() 함수를 사용하세요.
# x축에 수산물, y축에 무역수지를 지정합니다.
sns.barplot()

# 그래프 제목을 '수출 상위 10위 수산물 목록'으로 지정합니다.
plt.title()

# x축 눈금명을 45도 회전시킵니다.
plt.xticks()

# 막대 위에 무역수지를 반올림하여 정수만 남긴 수를 텍스트로 추가합니다.
for i, v in enumerate():
    plt.text(x = , y = , s = , ha = , va = , fontsize = 8);

In [ ]:
# japan의 마지막 10행을 btm10에 할당하고 막대그래프를 그립니다.
btm10 = 

# [힌트] sns.barplot() 함수를 사용하세요.
# x축에 수산물, y축에 무역수지를 지정합니다.
sns.barplot()

# 그래프 제목을 '수입 상위 10위 수산물 목록'으로 지정합니다.
plt.title()

# x축 눈금명을 45도 회전시킵니다.
plt.xticks()

# 막대 아래에 무역수지를 반올림하여 정수만 남긴 수를 텍스트로 추가합니다.
for i, v in enumerate():
    plt.text(x = , y = , s = , ha = , va = , fontsize = 8);

## End of Document