## 공공데이터 실습: 국가별 수산물 수출입 현황 (2021년)

### 실습 데이터셋 설명

- 2021년 1~12월에 전세계 165여 개 국가와 수산물 수출입 내역입니다.<br><br>

- 변수(열)에 대한 간단한 설명입니다.
  - ymonth: 거래년월
  - nation: 거래국가
  - itemNm: 거래품목(수산물)
  - imxprt: 수출/수입 구분
  - weight: 거래중량(kg)
  - dollar: 거래금액(달러)<br><br>

- 실습 데이터셋을 미리보기 합니다.
<img src="https://raw.githubusercontent.com/HelloDataScience/Images/main/Seafood%20Preview%202021.png" align="left" width="400">

### 실습 데이터셋 인코딩 확인

# 관련 라이브러리를 설치합니다.
!pip install requests

In [ ]:
# 관련 라이브러리를 호출합니다.
import os
import chardet
import requests
import numpy as np
import pandas as pd

In [ ]:
# 온라인으로 공유 중인 csv 파일 주소를 URL에 할당합니다.
URL = 'https://bit.ly/Seafood_Trade_2021yr'

In [ ]:
# URL에 있는 텍스트를 내려받습니다.(HTTP Requests)
res = requests.get(url = URL)

In [ ]:
# res에서 바이너리 텍스트의 일부를 출력합니다.
res.content[:200]

In [ ]:
# 바이너리 텍스트의 인코딩 방식을 확인합니다.
chardet.detect(res.content[:200])

### 실습 데이터셋 전처리

In [ ]:
# csv 파일을 읽고 데이터프레임 df를 생성합니다.
df = pd.read_csv(URL)

In [ ]:
# df의 정보를 확인합니다.
# info() 함수를 사용하세요.

In [ ]:
# df의 처음 5행을 출력합니다.
# head() 함수를 사용하세요.

In [ ]:
# df의 마지막 5행을 출력합니다.
# tail() 함수를 사용하세요.

In [ ]:
# ymonth의 자료형을 문자열로 변환하고 ymonth에 재할당합니다. 
# astype() 함수를 사용하세요.

In [ ]:
# dollar를 1000으로 나눈 결과를 dollar에 재할당합니다.

In [ ]:
# dollar의 기술통계량을 확인합니다.
# describe() 함수를 사용하세요.

In [ ]:
# nation의 빈도수를 확인합니다.
# value_counts() 함수를 사용하세요.

### 국가별 수출입금액을 합산하고 무역수지 흑자 상위 국가 확인

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 trade에 할당합니다.
# pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 df, 값(values)은 dollar, 
# 행이름(index)은 nation, 열이름(columns)은 imxprt, 
# 집계함수는 np.sum을 지정하세요.

In [ ]:
# trade의 처음 10행을 출력합니다.

In [ ]:
# trade에 있는 결측값을 0으로 대체하고 trade에 재할당합니다.

In [ ]:
# trade의 수출에서 수입을 뺀 무역수지를 생성합니다.

In [ ]:
# trade의 처음 10행을 출력합니다.

In [ ]:
# trade를 무역수지로 내림차순 정렬하고 trade에 재할당합니다.

In [ ]:
# trade의 처음 5행을 출력합니다.(무역수지 흑자국가)

In [ ]:
# trade의 마지막 5행을 출력합니다.(무역수지 적자국가)

### 무역수지 흑자 1위 국가의 수출입 수산물 목록 확인

In [ ]:
# df에서 nation이 '일본'인 행을 데이터프레임 japan에 할당합니다.
# eq(), copy() 함수를 사용하세요.

In [ ]:
# japan의 정보를 확인합니다.

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 japan에 재할당합니다.
# pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 japan, 값(values)은 dollar, 
# 행이름(index)은 itemNm, 열이름(columns)은 imxprt, 
# 집계함수는 np.sum을 지정하세요.

In [ ]:
# japan의 처음 10행을 출력합니다.

In [ ]:
# japan에 있는 결측값을 0으로 대체하고 japan에 재할당합니다.

In [ ]:
# japan의 수출에서 수입을 뺀 무역수지를 생성합니다.

In [ ]:
# japan의 처음 10행을 출력합니다.

In [ ]:
# japan을 무역수지로 내림차순 정렬하고 japan에 재할당합니다.

In [ ]:
# japan의 처음 5행을 출력합니다.

In [ ]:
# japan의 마지막 5행을 출력합니다.

### 막대그래프 그리기

In [ ]:
# 관련 라이브러리를 호출합니다.
# GraphicSetting.py 모듈을 호출해보세요.

In [ ]:
# japan의 처음 10행을 Top10에 할당합니다.
# head(), copy() 함수를 사용하세요.

In [ ]:
# Top10의 행이름을 초기화하고 Top10에 재할당합니다.
# reset_index() 함수를 사용하세요.
# 기존 행이름을 열로 추가해야 하므로 drop = True를 추가하면 안됩니다.

In [ ]:
# Top10의 itemNm을 x축, 무역수지를 y축에 놓고 막대그래프를 그립니다.
# sns.barplot() 함수를 사용하세요.

## End of Document