## 공공데이터 실습: 국가별 수산물 수출입 현황 (2021년)

- 아래 링크를 읽고 데이터프레임을 생성합니다.
  - https://bit.ly/Seafood_Trade_2021yr (구분자: ',', 인코딩방식: 'UTF-8')
  
  
- 데이터 전처리를 실습합니다.

### 실습 데이터셋 안내

- 2021년 1~12월에 전세계 165여 개 국가와 수산물 수출입 내역입니다.<br><br>

- 변수(열)에 대한 간단한 설명입니다.
  - ymonth: 거래년월
  - nation: 거래국가
  - itemNm: 거래품목(수산물)
  - imxprt: 수출/수입 구분
  - weight: 거래중량(kg)
  - dollar: 거래금액(달러)<br><br>

- 실습 데이터셋을 미리보기 합니다.
<img src="https://raw.githubusercontent.com/HelloDataScience/Images/main/Seafood%20Preview%202021.png" align="left" width="400">

### 실습 데이터셋 준비

# 관련 라이브러리를 설치합니다.
!pip install requests

In [ ]:
# 관련 라이브러리를 호출합니다.
import os
import chardet
import requests
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
# 온라인으로 공유 중인 csv 파일 주소를 URL1에 할당합니다.
URL1 = 'https://bit.ly/Seafood_Trade_2021yr'

In [ ]:
# URL1에 있는 텍스트를 내려받습니다.(HTTP Requests)
# [힌트] requests.get() 함수를 사용하세요.
res =

In [ ]:
# res에서 바이너리 텍스트의 일부를 출력합니다.
# [힌트] content 속성을 사용하세요.
res.

In [ ]:
# 바이너리 텍스트의 인코딩 방식을 확인합니다.
# [힌트] chardet.detect() 함수를 사용하세요.
chardet.

In [ ]:
# URL1을 읽고, 데이터프레임 sfd를 생성합니다.
sfd =

In [ ]:
# sfd의 정보를 확인합니다.
# [힌트] info() 함수를 사용하세요.
sfd.

In [ ]:
# sfd의 처음 5행을 출력합니다.
# [힌트] head() 함수를 사용하세요.
sfd.

In [ ]:
# sfd의 마지막 5행을 출력합니다.
# [힌트] tail() 함수를 사용하세요.
sfd.

### 실습 데이터셋 전처리

In [ ]:
# ymonth의 자료형을 문자열로 변환하고 ymonth에 재할당합니다. 
# [힌트] astype() 함수를 사용하세요.
sfd['ymonth'] =

In [ ]:
# dollar를 1000으로 나눈 결과를 dollar에 재할당합니다.
sfd['dollar'] =

In [ ]:
# sfd의 수치형(정수형 또는 실수형) 변수에 대한 기술통계량을 확인합니다.
# [힌트] describe() 함수를 사용하세요.
sfd.

In [ ]:
# sfd의 범주형 변수에 대한 기술통계량을 확인합니다.
sfd.

In [ ]:
# nation의 빈도수를 확인합니다.
# [힌트] value_counts() 함수를 사용하세요.
sfd['nation'].

### 국가별 수출입금액을 합산하고 무역수지 흑자 상위 국가 확인

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 trade에 할당합니다.
# [힌트] pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 sfd, 값(values)은 dollar, 행이름(index)은 nation, 
# 열이름(columns)은 imxprt, 집계함수는 np.sum을 지정하세요.
trade = pd.pivot_table()

In [ ]:
# trade의 행 개수를 출력합니다.
# [힌트] shape 속성 결과에 0번 인덱스 원소를 선택하세요.
trade.

In [ ]:
# trade의 처음 5행을 출력합니다.
trade.

In [ ]:
# trade에 있는 결측값을 0으로 대체하고 trade에 재할당합니다.
# [힌트] fillna() 함수를 사용하세요.
trade =

In [ ]:
# trade의 인덱스를 출력합니다.
# [힌트] index 속성을 사용하세요.
trade.

In [ ]:
# trade의 인덱스 네임을 '국가'로 변경합니다.
# [힌트] index.name 속성을 사용하세요.
trade.

In [ ]:
# trade의 열이름을 출력합니다.
# [힌트] columns 속성을 사용하세요.
trade.

In [ ]:
# trade의 열이름 네임에 빈 문자열을 지정합니다.
# [힌트] columns.name 속성을 사용하세요.
trade.

In [ ]:
# trade의 인덱스를 초기화합니다.
# [힌트] reset_index() 함수를 사용하세요.
# [참고] 기존 인덱스를 열로 추가하려면 drop = True를 추가하지 않습니다.
trade =

In [ ]:
# trade의 처음 5행을 출력합니다.
trade.

In [ ]:
# trade의 수출에서 수입을 뺀 무역수지를 생성합니다.
trade['무역수지'] =

In [ ]:
# trade를 무역수지로 내림차순 정렬하고 trade에 재할당합니다.
# [힌트] sort_values() 함수를 사용하세요.
trade =

In [ ]:
# trade의 처음 10행을 출력합니다.(무역수지 흑자 국가)
trade.

In [ ]:
# trade의 마지막 10행을 출력합니다.(무역수지 적자 국가)
trade.

### 통계청 1인당 국민총소득 데이터 (2021년)

- 아래 링크를 읽고 데이터프레임을 생성합니다.
  - url: https://bit.ly/GDP_Per_Capita_2021 (구분자: ',', 인코딩방식: 'EUC-KR')
  
  
- 데이터 전처리를 실행하고, trade와 병합합니다.

In [ ]:
# 위 링크를 URL2에 할당합니다.
URL2 = 'https://bit.ly/GDP_Per_Capita_2021'

In [ ]:
# URL2에 있는 텍스트를 내려받습니다.(HTTP Requests)
res =

In [ ]:
# res에서 바이너리 텍스트의 일부를 출력합니다.
res.

In [ ]:
# 바이너리 텍스트의 인코딩 방식을 확인합니다.
chardet.

In [ ]:
# URL2를 읽고, 데이터프레임 gdp를 생성합니다.
gdp =

In [ ]:
# gdp의 정보를 확인합니다.
gdp.

In [ ]:
# gdp의 처음 5행을 출력합니다.
gdp.

In [ ]:
# gdp의 열이름을 출력합니다.
gdp.

In [ ]:
# gdp에서 '2019', '2020' 열을 삭제합니다.
# [힌트] drop() 함수를 사용하세요.
gdp =

In [ ]:
# gdp에서 '2021'의 이름을 '인당GDP'로 변경합니다.
# [힌트] rename() 함수를 사용하세요.
gdp =

In [ ]:
# 인당GDP에서 원소가 '-'이면 결측값(np.nan)으로 변경합니다.
# [힌트] np.where()와 eq() 함수를 사용하세요.
gdp['인당GDP'] =

In [ ]:
# gdp의 열별 결측값 개수를 확인합니다.
# [힌트] isna()와 sum() 함수를 사용하세요.
gdp.

In [ ]:
# gdp의 처음 5행을 출력합니다.
gdp.

In [ ]:
# gdp의 행 개수를 출력합니다.
gdp.

### 데이터 병합

두 데이터프레임을 좌우로 병합할 때 기준이 되는 열을 외래키라고 합니다.<br>
두 외래키에서 일치하는 원소가 없으면 병합했을 때 행 개수가 0일 수 있습니다.<br>
병합 방법은 내부병합, 외부병합, 왼쪽병합 등이 있습니다.<br>
실습 데이터셋 오른쪽에 새로운 열을 추가할 때 왼쪽병합을 주로 사용합니다.

In [ ]:
# 왼쪽 외래키에 있고, 오른쪽 외래키에 없는 원소를 확인합니다.
# [힌트] set() 함수를 사용하여 시리즈를 집합으로 변환하세요.
# 두 집합으로 차집합을 실행하세요.
set() - set()

In [ ]:
# trade와 gdp를 왼쪽병합하고, trade에 재할당하세요.
# [힌트] pd.merge() 함수를 사용하세요.
# 왼쪽병합은 how 매개변수에 'left'를 지정합니다.
# 외래키는 on 매개변수에 열이름을 문자열로 지정합니다.
# [참고] 외래키 열이름이 다르면 left_on, right_on 매개변수에 각각 지정해야 합니다.
trade =

In [ ]:
# trade의 처음 10행을 출력합니다.
trade.

### 이변량 연속형 변수의 상관관계 확인

피어슨 상관계수는 두 연속형 변수에 직선의 관계가 있는지 확인할 때 실행합니다.<br>
변수의 자료형이 범주형이면 에러를 반환합니다.<br>
아울러 변수에 결측값이 포함되어 있어도 에러를 반환합니다.

In [ ]:
# trade의 열별 자료형을 확인합니다.
# [힌트] dtypes 속성을 사용하세요.
trade.dtypes

In [ ]:
# 인당GDP를 실수형으로 변환합니다.
# [힌트] astype() 함수를 사용하세요.
trade['인당GDP'] = trade['인당GDP'].astype(float)

In [ ]:
# trade의 열별 결측값 개수를 확인합니다.
# [힌트] isna()와 sum() 함수를 사용하세요.
trade.isna().sum()

In [ ]:
# 인당GDP가 결측값인 행을 출력합니다.
# [힌트] isna() 함수를 사용하세요.
trade[trade['인당GDP'].isna()]

In [ ]:
# trade에서 결측값이 있는 행을 삭제합니다.
# [힌트] dropna() 함수를 사용하세요.
trade = trade.dropna()

In [ ]:
# 무역수지와 인당GDP의 피어슨 상관계수를 확인합니다.
# [참고] 피어슨 상관계수는 정규분포하는 데이터의 상관계수를 반환합니다.
stats.pearsonr(x = trade['무역수지'], y = trade['인당GDP'])

In [ ]:
# 무역수지와 인당GDP의 스피어만 상관계수를 확인합니다.
# [참고] 스피어만 상관계수는 순서형/이산형 데이터의 순위 상관을 반환합니다.
stats.spearmanr(a = trade['무역수지'], b = trade['인당GDP'])

### 연속형 변수의 구간화(binning)

연속형 변수를 기준에 따라 범주형으로 변환하는 것을 구간화(binning)라고 합니다.<br>
구간화는 이상치와 비선형 문제를 해결하고, 결측값을 쉽게 처리할 수 있습니다.<br>
범주가 2개면 np.where(), 3개 이상이면 np.seelct() 함수를 사용하는 것이 좋습니다.

In [ ]:
# 인당GDP의 기술통계량을 확인합니다.
# [힌트] describe() 함수를 사용하세요.
trade['인당GDP'].

In [ ]:
# 인당GDP가 23000 이상이면 '선진국', 6500 이상 23000 미만이면 '신흥국', 
# 6500 미만이면 '개도국'인 원소를 갖는 국가등급 열을 생성합니다.
# [힌트] np.select() 함수를 사용하세요.
# condlist 매개변수에 조건, choicelist 매개변수에 원소를 리스트로 지정합니다.
trade['국가등급'] =

In [ ]:
# 국가등급 원소별 빈도수를 확인합니다.
# [힌트] value_counts() 함수를 사용하세요.
trade['국가등급'].

In [ ]:
# 국가등급별 무역수지 평균을 확인합니다.
# [힌트] groupby()와 mean() 함수를 사용하세요.
trade.

### 데이터 시각화

In [ ]:
# 관련 라이브러리를 호출합니다.
import seaborn as sns
import matplotlib.pyplot as plt

# 그래픽 파라미터를 설정합니다.
plt.rc(group = 'figure', figsize = (6, 6), dpi = 100)
plt.rc(group = 'font', family = 'Gamja Flower', size = 10)
plt.rc(group = 'axes', unicode_minus = False)
plt.rc(group = 'legend', frameon = True, fc = '1', ec = '0')

In [ ]:
# 인당GDP와 무역수지의 산점도를 그립니다.
# [힌트] sns.scatterplot() 함수를 사용하세요.
# hue 매개변수에 범주형 변수명을 지정하면 점의 채우기 색을 다르게 지정합니다.
# 점의 크기는 s 매개변수에 정수로 지정합니다.(기본값: 50)
sns.scatterplot()

# 범례의 위치를 오른쪽 아래로 지정합니다.
plt.legend();

### 무역수지 흑자 1위 국가의 수출입 수산물 목록 확인

In [ ]:
# sfd에서 nation이 '일본'인 행을 데이터프레임 japan에 할당합니다.
# [힌트] eq() 함수를 사용하세요.
japan =

In [ ]:
# japan의 정보를 확인합니다.
japan.

In [ ]:
# 아래 조건을 만족하는 피벗 테이블을 japan에 재할당합니다.
# [힌트] pd.pivot_table() 함수를 사용하세요.
# 데이터(data)는 japan, 값(values)은 dollar, 
# 행이름(index)은 itemNm, 열이름(columns)은 imxprt, 
# 집계함수는 np.sum을 지정하세요.
japan = pd.pivot_table()

In [ ]:
# japan의 처음 10행을 출력합니다.
japan.

In [ ]:
# japan에 있는 결측값을 0으로 대체하고 japan에 재할당합니다.
# [힌트] fillna() 함수를 사용하세요.
japan =

In [ ]:
# japan의 인덱스 네임을 '수산물'로 변경합니다.
# [힌트] index.name 속성을 사용하세요.
japan.

In [ ]:
# japan의 열이름 네임에 빈 문자열을 지정합니다.
# [힌트] columns.name 속성을 사용하세요.
japan.

In [ ]:
# japan의 인덱스를 초기화합니다.
# [힌트] reset_index() 함수를 사용하세요.
# [참고] 기존 인덱스를 열로 추가하려면 drop = True를 추가하지 않습니다.
japan =

In [ ]:
# japan의 처음 5행을 출력합니다.
japan.

In [ ]:
# japan의 수출에서 수입을 뺀 무역수지를 생성합니다.
japan['무역수지'] =

In [ ]:
# japan을 무역수지로 내림차순 정렬하고 japan에 재할당합니다.
# [힌트] sort_values() 함수를 사용하세요.
japan =

In [ ]:
# japan의 처음 10행을 출력합니다.(무역수지 흑자 수산물)
japan.

In [ ]:
# japan의 마지막 10행을 출력합니다.(무역수지 적자 수산물)
japan.

### [보너스]

In [ ]:
# 국가명을 지정하면 수출입 수산물 목록을 반환하는 함수를 생성합니다.
# [참고] 함수에서 정의하지 않은 인수는 글로벌 변수를 사용합니다.(ex: sfd)
# [주의] 글로벌 변수 목록에 없으면 에러를 반환합니다.
def seafoodItemList(nation):
    items = sfd[sfd['nation'].eq(nation)]
    items = pd.pivot_table(
        data = items, 
        values = 'dollar', 
        index = 'itemNm', 
        columns = 'imxprt', 
        aggfunc = np.sum
    )
    items = items.fillna(value = 0)
    items.index.name = '수산물'
    items.columns.name = ''
    items = items.reset_index()
    items['무역수지'] = items['수출'] - items['수입']
    items = items.sort_values(by = ['무역수지'], ascending = False)
    return items

In [ ]:
# 일본과의 수산물 무역수지 데이터를 japan에 할당합니다.
japan = seafoodItemList(nation = '일본')

In [ ]:
# japan을 출력합니다.
japan

### 막대그래프 그리기

In [ ]:
# japan의 처음 10행을 top10에 할당하고 막대그래프를 그립니다.
top10 = 

# [힌트] sns.barplot() 함수를 사용하세요.
# x축에 수산물, y축에 무역수지를 지정합니다.
sns.barplot()

# 그래프 제목을 '수출 상위 10위 수산물 목록'으로 지정합니다.
plt.title()

# x축 눈금명을 45도 회전시킵니다.
plt.xticks()

# 막대 위에 무역수지를 반올림하여 정수만 남긴 수를 텍스트로 추가합니다.
for i, v in enumerate():
    plt.text(x = , y = , s = , ha = , va = );

In [ ]:
# japan의 마지막 10행을 btm10에 할당하고 막대그래프를 그립니다.
btm10 = 

# [힌트] sns.barplot() 함수를 사용하세요.
# x축에 수산물, y축에 무역수지를 지정합니다.
sns.barplot()

# 그래프 제목을 '수입 상위 10위 수산물 목록'으로 지정합니다.
plt.title()

# x축 눈금명을 45도 회전시킵니다.
plt.xticks()

# 막대 아래에 무역수지를 반올림하여 정수만 남긴 수를 텍스트로 추가합니다.
for i, v in enumerate():
    plt.text(x = , y = , s = , ha = , va = );

## End of Document